*.fa
canonical_sequence.txt
*.pyc
Analysis\ SpliceAI\ supplementary\ data/
datafile_test_0.h5
datafile_train_all.h5
dataset_test_0.h5
dataset_train_all.h5
*.fa.fai
sys
np
time
h5py
canonical/Models
canonical/Outputs
re
